.footer {
    margin-top: 3rem;
    text-align: center;

    p {
        font-size: .9em;
    }
}

@media (min-width: 850px) {
   .footer {
        text-align: left;
        margin-top: 4rem;
        p {
            font-size: 1em;
        }
   }
}